
<h2>Edit Your Artist Bio</h2>
<hr>
<%# Form for artist to edit profile %>
<%= form_with model: @artist do |form| %>
<%= form.label :bio, 'About Me' %>
<%= form.text_area :bio, class: "tinymce", rows: 20, cols: 80 %>
<%= tinymce %>
<hr>
<%= form.submit %>
<%end%>
<hr>
<p><%= link_to "Back", :back %></p>