
<h2>Edit Your Artist Bio</h2>

<%= form_with model: @artist do |form| %>
<%= form.label :artist_image, "Profile Picture (can be a placeholder)"%>
<%= form.file_field :artist_image, accept:'image/png,image/gif,image/jpeg,image/jpg' %>
<br>
<%= form.label :bio, 'About Me' %>
<%= form.text_area :bio, class: "tinymce", rows: 20, cols: 80 %>
<%= tinymce %>
<%= form.submit %>
<%end%>