
<h2>Edit Your Artist Bio</h2>

<%= form_with model: @artist do |form| %>
<%= form.label :bio, 'About Me' %>
<%= form.text_area :bio, class: "tinymce", rows: 20, cols: 80 %>
<%= tinymce %>
<%= form.submit %>
<%end%>