<%# Show individual artist profile %>
<h2><%= @artist.user.first_name %> <%= @artist.user.last_name %></h2>
<hr>
<%= image_tag @artist.artist_image, class: "img-thumbnail box", width: 200 if @artist.artist_image.attached? %>
<hr>
<h5>About Me</h5>
<%= @artist.bio.html_safe %>
<hr>
<%# Form field with redirect to Stripe for donation to artist community %>
<h3>Donate</h3>
<%= form_with url:artist_donate_path(@artist.id) do |form| %>
<%= form.number_field 'donate'%>
<%= form.submit 'Donate'%>
<% end %>
<hr>
<%# Show all artwork for this particular artist %>
<h3>Gallery</h3>
<hr>
<% @artist.items.each do |item|%>
    <%= image_tag item.item_image, class: "img-thumbnail box", width: 400 if item.item_image.attached? %>
    <p><%= link_to item.name, item_path(item) %></p>
<%end%>
<hr>
<p><%=link_to 'Back', :back, class: "btn btn-info"%></p>
<script src="https://js.stripe.com/v3/"></script>