<%# Confirmation of item to order page %>
<h2 class="list-item"> Your order </h2>
<%= image_tag @item.item_image, class: "img-thumbnail box", width: 400 if @item.item_image.attached? %>
<table>
<thead> <tr>
     <th>Name</th>
     <th>Artist</th>
     <th>Price</th>
   </tr>
 </thead>
<tbody> <tr>
<td><%= @item.name %></td>
<td><%= @item.artist.user.first_name %> <%= @item.artist.user.last_name %></td>
<td><%= number_to_currency @item.price %></td>
   </tr>
 </tbody>
</table>
<button id="pay-now" class="btn btn-success">Checkout Now</button>
<hr>
<p><%= link_to "Back", :back %></p>

<%# Redirection to Stripe for purchases %>
<script src="https://js.stripe.com/v3/"></script>
<script>
 document
   .querySelector("[id='pay-now']")
   .addEventListener("click", () => {
     const stripe = Stripe(
       "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
     );

     stripe.redirectToCheckout({
       sessionId: "<%= @session.id %>"
     });
   });
</script>