<!DOCTYPE html>
<html>
  <head>
    <title>The Dreaming Collective</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tinymce_assets %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <%= image_tag 'map-of-australia-painting.jpg', alt:"Hand Dot Painting Logo" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/artists/all">Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/items/all">Artwork</a>
          </li>
        </ul>
      </div>
      <section class="top-nav">
        <%# if signed in, show user name above logout button on far right of nav %>
        <% if user_signed_in? %>
            <div id="username"><%= link_to current_user.first_name, dashboard_path(id: current_user.id) %></div>
            <div id="logout"><%= link_to 'Logout', destroy_user_session_path, method: "delete",class:"top-nav-link"%></div>
        <% else %>
            <p><%= link_to 'Login', new_user_session_path, class:"top-nav-link"%>
            |
            <%= link_to 'Sign Up', new_user_registration_path, class:"top-nav-link"%>
            </p>
        <% end %>
      </section>
    </nav>
      <div class="container">
      <% if notice  %>
        <div class="alert alert-info" role="alert"><%= notice %></div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger" role="alert"><%= alert %></div>
      <% end %>


      <section class="row container">
        <section>
        <%= yield %>
        </section>
      </section>
    </div>
  
  </body>
</html>
